<div id="clinica">
  <h2>Clínica</h2>

  <br />
  <h3>Cadeira de primeira linha</h3>
  <%= image_tag "consultorio/atendimento.JPG", :border => 0 %>
  
  <br />
  <h3>Cadeira de primeira linha</h3>
  <%= image_tag 'consultorio/bancada.JPG' %>
  
  <br />
  <h3>Cadeira de primeira linha</h3>
  <%= image_tag 'consultorio/cadeira.JPG' %>
  
  <br />
  <h3>Cadeira de primeira linha</h3>
  <%= image_tag 'consultorio/equipamentos.JPG' %>  
</div>