<div style="text-align: left;">
  <h2>Endereço</h2>
  <p>
    Av. Tiradentes n&ordm; 1455<br/>
    Maringá - Paraná<br/>
    CEP: 87013260<br />
    <a href="http://goo.gl/q2WWB" target="_blank">Mapa</a>
  </p>
  <h2>Telefone</h2>
  <p>
    Clínica: (044) 3026-2777<br />
    Emergência: (044) 9115-4491
  </p>
  <h2>E-mail</h2>
  <p>
    dr.bordini@hotmail.com<br />
    contato@guilhermebordini.com<br />
  </p>
</div>