/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: url(../images/img01.jpg) repeat-x left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	font-size: 13px;
	color: #8A7F7F;
}

h1, h2, h3 {
	margin-bottom: 1em;
	
	font-weight: normal;
	color: #549DC7;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	text-decoration: underline;
}

h1 {
	letter-spacing: -2px;
	font-size: 3em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1.3em;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 180%;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #E58C43;
}

a:hover {
	background: #CEE7F5;
	text-decor1ation: underline;
	color: #549DC7;
}

/* Logo */

#logo {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0;
	padding-top: 5px;
}

#logo h1 a {
	padding: 0px 0 0 310px;
	color: #004085;
}

#logo h1 a:hover {
	text-decoration: none;
	background: none;

}

#logo h2 {
	padding: 18px 0 40px 7px;
	letter-spacing: normal;
	font-size: 1.4em;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	background: url(../images/img02.gif) repeat-y;
}

/* Sidebars */

.sidebar {
	float: left;
	width: 200px;
	margin-top: 180px;
	padding-top: 20px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding-bottom: 30px;
}

.sidebar li ul {
}

.sidebar li li {
	padding: 0;
}

.sidebar h2 {
	height: 40px;
	margin: 0;
	letter-spacing: normal;
	font-size: 1.4em;
}

/* Sidebar1 */

#sidebar1 {
}

#sidebar1 h2 {
	text-align: left;
	background: url(../images/img06.jpg) no-repeat left top;
	padding: 5px 0 0 40px;
	font-size: 22px;
}

#sidebar1 li li {
	padding-left: 20px;
	text-align: left;
	font-size: 12px;
}

/* Sidebar2 */

#sidebar2 {
	background: url(../images/img04.gif) no-repeat;
}

#sidebar2 h2 {
	background: url(../images/img06.gif) no-repeat;
}

/* Search */

#search {
}

#search form {
	text-align: center;
}

#search #s {
	width: 95%;
	margin-bottom: 10px;
}

#search h2 {
	background-image: url(../images/img07.gif);
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 0 20px;
}

#calendar caption {
	padding-bottom: 5px;
	font-size: 1.2em;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #CCCC99;
}

#calendar thead th {
	padding: 5px 0;
	background: #F9F3DF;
	border-bottom: 1px solid #CCCC99;
	color: #CCCC99;
}

#calendar tbody td {
	padding: 5px 0;
	border-right: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
}

#calendar tfoot td {
	padding: 5px;
	border-top: 1px solid #CCCC99;
}

#calendar tfoot a {
	border: none;
	font-weight: bold;
}

#calendar #next {
	text-align: right;
}

#calendar #prev {
	text-align: left;
}

/* Recent Posts */

#recent-posts {
}

#recent-posts h2 {
	background: url(../images/img06.jpg) no-repeat left top;
	padding: 5px 0 0 40px;
	font-size: 22px;
}

.sidebar #recent-posts ul {
	padding-left: 20px;
	font-size: 12px;
}

.sidebar #recent-posts li {
	border-bottom: 1px dashed #D9EBFF;
	margin-top: 20px;
}

/* Content */

#content {
	float: left;
	width: 542px;
	background: url(../images/img03.jpg) repeat-y left top;
}

#content .bgtop {
	background: url(../images/fachada2.jpg) no-repeat left top;
}

#content .bgbtm {
	background: url(../images/img04.jpg) no-repeat left bottom;

}

.post {
	padding: 200px 30px 30px 30px;

}

.post .title {
	margin: 0;
	padding: 0 20px;
}

.post h2 {
}

.post .meta {
	margin: 0;
	padding: 0 20px 20px 20px;
	line-height: normal;
}

.post .entry {
	padding: 20px;
	background: url(../images/img10.gif) repeat-x;
}

.post .tags, .post .links {
	margin: 0;
	line-height: normal;
	font-size: smaller;
	text-align: center;
}

.post .tags {
	padding-top: 10px;
	border-top: 1px dashed #D9EBFF;
}

.post .keyword{
        color: #E58C43;
}

/* Footer */

#footer {
	width: 562px;
	height: 60px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	background: url(../images/img05.jpg) no-repeat;
}

#footer p {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: normal;
}